/*
    Custom CSS for some elements
*/

/*
    For About page
*/


.social-box {
    max-width: 20px;
    max-height: 20px;
}

/*
    Project stuff
*/

.project-text>p {
    font-size: 1.1rem;
    text-indent: 1em;
}

.project-container {
    margin-left: auto;
    margin-right: auto;
}

.project-divider {
    border-top: 3px solid #bbb;
    margin: 20px;
}

.project-body>.col>h1 {
    font-size: 30px;
}

.project-body {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    border-style: dashed;
    border-width: 1px 1px 1px 1px;
}

.project-info {
    width: 100%;
}

.project-date {
    font-size: 13px;
    vertical-align: bottom;
}

#flask-pagedown-body-preview {
    border-style: dashed;
    border-width: 1px;
    border-color: #bbb;
}

#flask-pagedown-body {
    width: 100%;
    height: 250px;
}

.project-pic {
    width: 250px;
    margin-right: 3em;
    margin-bottom: 2em;
    margin-top: 10px;
    margin-left: auto;
    float: left;
    display: block;
}

.project-name {
    font-size: 25px;
}

.readmore {
    text-align: right;
}


/*
    Global stuff
*/

body {
    padding-bottom: 30px;
}

.navbar {
    z-index: 4;
}

.jumbotron {
    position: relative;
}

.flask-pagedown-input {
    resize: vertical;
    height: 100em;
    overflow: auto;
}

#aboutInfo {
    vertical-align: text-top;
}

#aboutInfo td {
    vertical-align: text-top;
}

.nav-item {
    white-space: nowrap;
}

#info-container {
    margin-left: auto;
    margin-right: auto;
    background-color: #303030;
    width: 60%;
    height: 100%;
    padding: 2% 6%;
}

#aboutInfo p,
li {
    position: relative;
    width: 60%;
    font-size: 16px;
}

.jumbotron .beautiful-background {
    top: 0;
    background-image: url("/static/img/hex.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(6px);
    background-position: 0% 25%;
    z-index: 1;
    background-size: cover;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.gravatar {
    clip-path: circle(35px at center);
}

.jumbotron-container {
    position: relative;
    z-index: 2;
}

.jumbotron.minitron {
    height: 150px;
    margin-bottom: 0;
}

.errorImg {
    height: 100%;
    width: auto;
    max-height: 40vh;
    overflow: auto;
    margin-bottom: 10px;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

footer {
    position: absolute;
    bottom: 0;
    background-color: #303030;
    height: 40px;
    line-height: 40px;
    width: 100%;
    padding-left: 10px;
}

#okpic {
    margin-bottom: 20px;
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

@media screen and (max-width: 768px) {
    #info-container {
        width: 100%;
    }
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 20px;
    }
    .errorImg {
        width: 60%;
        height: 20%;
    }
    .jumbotron.minitron {
        height: 90px;
    }
}