{% extends "base.html" %}
{% block title %} Osetr - 403 {% endblock %}

{% block content %}

{{ super() }}

<br><br>

<div class="text-center">
    <h1>Error 0x193 - Forbidden</h1>
    <img src="/static/img/brick.png" class="errorImg">
    <h2>You don't seem to have access to that page</h2>
</div>

{% endblock %}