{% extends "base.html" %}
{% block title %} Osetr - 500 {% endblock %}

{% block content %}

{{ super() }}

<br><br>

<div class="text-center">
    <h1>Error 0x1F4 - Internal Server Error</h1>
    <h2>"Something is clearly wrong"</h2>
    <img src="/static/img/pearl.png" class="errorImg">
</div>

{% endblock %}