{% extends "base.html" %}
{% block title %} Osetr - 501 {% endblock %}

{% block content %}

{{ super() }}

<br><br>

<div class="text-center">
    <h1>Error 0x1F5 - Not Implemented</h1>
    <h2>This part of website is still being worked on</h2>
    <img src="/static/img/finch.jpg" class="errorImg">
</div>

{% endblock %}