{% macro alert(tag, class, text) %} 

  {% if text != "" %}
    {% set prefix = text + " " %}
  {% else %}
    {% set prefix = "" %}
  {% endif %}

  {% with messages = get_flashed_messages(category_filter=[tag]) %}
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-dismissible {{ class }}">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{ (prefix + message) | safe }}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}

{% endmacro %}

{% macro render_field(field) %}
  <dt>{{ field.label }}</dt>
  <dd>{{ field(**kwargs)|safe }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  </dd>
{% endmacro %}