{% extends "base.html" %}
{% set active_page = "about" %}

{% set contacts = [
    {
        'name': 'Telegram',
        'url': 'https://t.me/peterder72',
        'alias': '@peterder72',
        'icon': 'img/social/tg_small.png'
    },
    {
        'name': 'E-Mail',
        'url': 'mailto:peterder72@osetr.su',
        'alias': 'peterder72@osetr.su',
        'icon': 'img/social/mail_small.png'
    },
    {
        'name': "IRC",
        "alias": "peterder72@freenode",
        'icon': 'img/social/irc_small.png'
    },
    {
        'name': 'LinkedIn',
        'icon': 'img/social/linkedin_small.png'

    },
    {
        'name': "Keybase",
        'alias': 'peterder72',
        'url': 'https://keybase.io/peterder72',
        'icon': 'img/social/keybase_small.png'
    }
] -%}

{% block content %}

{{ super() }}

<div class="jumbotron minitron text-center">
    <h1>About me</h1>
</div>
<div id="info-container">
    <div class="row">
        <div class="col">
            <p>
                My name is Peter and I am an ICT student. I love doing software and
                hardware projects in my spare time and for my studies.
            </p>
            <p>
                This website is also one of my projects:
                it was entirely built in <i>Flask</i>.
                Source for this project is on <a href="https://gitlab.com/peteder72/homepage">GitLab</a>.
            </p>
            <p>
                If you want to contact me, you can reach me through these channels:
                {% for contact in contacts: %}
                    <div class="row">
                        <div class="col social-box">
                            <img src="{{ url_for('static', filename=contact['icon']) }}">
                        </div>
                        <div class="col">
                            {% if contact.get('url') and not contact.get('alias') %}
                                <a href="{{ contact['url'] }}">{{ contact['name'] }}</a>
                            {% else %}
                                {{ contact['name'] }}
                            {% endif %}

                            {% if contact.get('alias') %}
                            {% if contact['url'] %} 
                            (<a href="{{ contact['url'] }}">{{ contact['alias'] }}</a>)
                            {% else %}
                            ({{ contact['alias'] }})
                            {% endif %}
                            {% endif %}
                            
                        </div>
                    </div>
                    {% endfor %}
                </p>
                <p>
                    Also, if you need to send me something private, you send me an E-Mail and encrypt it with my 
                    <b>PGP key</b>, which you can get from Keybase or from <a href='/static/key.asc'>here</a>.
                </p>
        </div>
                <div class="col">
                    <div class="LI-profile-badge"  data-version="v1" data-size="large" data-locale="en_US" data-type="horizontal" data-theme="dark" data-vanity="peter-deriabin-77b7251a4">
                        <a class="LI-simple-link" href='https://nl.linkedin.com/in/peterder72?trk=profile-badge'>
                            Peter Deriabin
                        </a>
                    </div>
                    <p>
                        Tech and languages I use the most:
                        <ul>
                            <li>Linux</li>
                            <li>Docker</li>
                            <li>Bash</li>
                            <li>Python</li>
                            <li>C{,++,#}</li>
                        </ul>
                    </p>
                </div>
    </div>
</div>
{% endblock %}
