{% extends "base.html" %}

{% block title %} Flask - success {% endblock %}

{% block content %}
{{ super() }}
<table width="60%" style="text-align: center; margin-left: auto; margin-right: auto; margin-top: 20px">
    <tr>
        <td>
            <h1>Congratulations!</h1>
            <h2>You've confirmed your email</h2>
        </td>
    </tr>
    <tr>
        <td>
            <p>
                You can now login and feel the full power of the website, {{ user.name }}!
            </p>
        </td>
    </tr>
</table>
{% endblock %}
