{% extends "base.html" %}

{% block title %}
Flask - Copyright
{% endblock %}

{% block content %}

{{ super() }}


<div id="info-container">
    <h1>
        Copyright
    </h1>
    <p>
        In some places on this website
        I used copyrighted images, which require
        mentions on the website. As I don't have any other
        place for it, I'll just put it all here.
    </p>
    <ul>
        <li>
            Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> 
            from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
        </li>
    </ul>
</div>
{% endblock %}