<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Osetr confirmation</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <style>
            p,h1 {
                color: white;
                font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
            }
            tr {
                background-color: #303030;
                text-align: center;
            }
            a {
                color: cornflowerblue;
            }
        </style>
    </head>
    <body>
        <table cellspacing="0" cellpadding="0" style="margin-left: auto; margin-right: auto; border: 0;" width=600px>
            <tr style="background-color: #444;">
                <td style="padding: 40px 0 30px 0;">
                    <p style="font-size: 40px;">
                        Osetr
                    </p>
                </td>
            </tr>
            <tr>
                <td style="padding: 20px 0 30px 0;">
                    <p style="font-size: 25px;">
                        <b>It's nice you joined</b>
                    </p>
                </td>
            </tr>
            <tr style="padding: 40px 0 30px 0;">
                <td>
                    <p style="margin-left: 20px; margin-right: 20px;">
                        Thank you for signing up on my website!
                        I'm really glad you are interested in my projects.
                        I hope you will enjoy your time on the website!
                        Stay creative!<br><br>
                        Sincerely,<br>
                        <b>peterder72</b>
                    </p>
                </td>
            </tr>
            <tr>
                <td style="padding: 10px 0 50px 0;">
                    <p>
                        P.S. Oh, and about that confirmation thing.
                        Click <a href="{{ root }}/confirm/{{ token }}">this</a> link to confirm your email 
                    </p>
                </td>
            </tr>
            <tr>
                <td style="background-color: #444;">
                    <p>
                        ©peterder72, 2019
                    </p>
                </td>
            </tr>
        </table>
    </body>
</html>