{% extends "base.html" %} 
{% set active_page = "manage" %}

{% block content %} 

{{ super() }}

<div class="jumbotron minitron text-center">
    <h1>Admin console</h1>
</div>

<div id="info-container">
    <ul>
        {% for user in users %}
        <li>
            {{ user.email }}
        </li>
        {% endfor %}
    </ul>

</div>


{% endblock %}