{% import "_macros.html" as macros %}

{% extends "base.html" %}
{% set active_page = "projects" %}

{% block head %}

{{ super() }}

{{ pagedown.include_pagedown() }}

{% endblock %}

{% block content %}

{{ super() }}

<div class="jumbotron minitron text-center">
    <h1>New project</h1>
</div>

<div id="info-container">
    <form method="POST" class="form-group">
        {{ form.csrf_token }}
        <div class="row">
            <div class="col">
                {{ macros.render_field(form.name, class="form-control-lg") }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ macros.render_field(form.start_date, class="form-control") }}
            </div>
            <div class="col">
                {{ macros.render_field(form.pic_upload, class="form-control") }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ macros.render_field(form.finish_date, class="form-control") }}
            </div>
            <div class="col">
                OR
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ macros.render_field(form.status, class="form-control") }}
            </div>
            <div class="col">
                {{ macros.render_field(form.pic_url, class="form-control") }}

            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form.body.label }}: <br> {{ form.body(rows=10) }} <br>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form.submit(class="form-control") }}
            </div>
        </div>
    </form>
</div>

{% endblock %}