{% extends "base.html" %}
{% set active_page = "projects" %}

{% block content %}

{{ super() }}

<div class="jumbotron minitron text-center">
    <h1>{{ project.title }}</h1>
</div>

<div id="info-container">
    <div class="project-container container">
        <div class="row">
          <div class="col text-left align-bottom project-date">
            <span>Status: {{ g.project_states[project.status] }}</span>
          </div>
          <div class="col text-right align-bottom project-date">
            {% if project.start_date %}
            <span>Started: {{ project.start_date }}</span>
            {% endif %} 
            {% if project.finish_date %}
            <span>Finished: {{ project.finish_date }}</span>
            {% endif %}
          </div>
        </div>
        <hr class="project-divider" />
        <div class="row">
          <div class="col project-text">
            <img
              class="project-pic"
            {% if not project.picture %}
              src="{{url_for('static', filename='img/wisdom.jpg')}}"
            {% else %}
              src="{{ project.picture }}"
            {% endif %}
            />
            {{ project.body|markdown }}
          </div>
        </div>
      </div>
</div>


{% endblock %}