{% extends "base.html" %} 
{% set active_page = "projects" %}

{% block content %} 

{{ super() }}

<div class="jumbotron minitron text-center">
  <h1>Projects</h1>
</div>

<div id="info-container">
  {% if current_user.has_permission(permission.CREATE_PROJECT) %}
  <a href="{{url_for('projects.new_project')}}">
    Add new project
  </a>
  {% endif %}
  <hr class="project-divider" />
  {% for project in projects %}
  <div class="project-container container">
    <div class="row">
      <div class="col text-left align-bottom project-date">
        <span>Status: {{ g.project_states[project.status] }}</span>
      </div>
      <div class="col text-right align-bottom project-date">
        {% if project.start_date %}
        <span>Started: {{ project.start_date }}</span>
        {% endif %} 
        {% if project.finish_date %}
        <span>Finished: {{ project.finish_date }}</span>
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="col">
        <span class="project-name">{{ project.title }}</span>
      </div>
    </div>
    <div class="row project-body">
      <div class="col">
        <img
          class="project-pic"
        {% if not project.picture %}
          src="{{url_for('static', filename='img/wisdom.jpg')}}"
        {% else %}
          src="{{ project.picture }}"
        {% endif %}
        />
      </div>
      <div class="col project-text">
        {{ ('\n'.join(project.body.split('\n')[:2]))|markdown }}
      </div>
    </div>
    <div class="row">
      <div class="col text-right">
        <a href="{{ url_for('.project', pid=project.id) }}">Read more >></a>
      </div>
    </div>
  </div>
  <hr class="project-divider" />
  {% endfor %} 
  
</div>

{% endblock %}